@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace comp "components.*";

s|Application 
{   
	background-color: #4A4A4A;  
}
@font-face { 
	src: url("../assets/tahoma.ttf"); 
	fontFamily: tahoma; 
	embedAsCFF: true;  
} 
comp|LoginPanel  {  
	skinClass: ClassReference("skins.LoginPanelNoteSkin"); 
	font-family: tahoma;
	font-size: 18pt; 
	focusColor: #765132; 
	error-color: #A80000; 
}   
comp|LoginPanel  s|Button {   
	font-size: 16pt;  
} 
.errorTip {  
	color: #ffffff;
	background-color: #CE2929;
	font-size: 10;
	font-weight: "bold";
	shadow-color: #666666;
	borderStyle: "errorTipRight";
	shadow-distance: 0; 
	padding-bottom: 4;
	padding-left: 4;
	padding-right: 4;
	padding-top: 4;
}   
mx|Alert {    
    backgroundColor: #EBE1D1; 
    chromeColor: #A5816B;    
    titleStyleName: alertTitle;
    messageStyleName: alertMessage;
    buttonStyleName: alertButton;
	creationCompleteEffect: alertCreationCompleteEffect;
}
.alertTitle{
    fontSize: 16; 
    fontWeight: bold;
}
.alertMessage {
    fontSize: 12; 
}
.alertButton {
    fontSize: 12; 
}


